.body-prin{
    background-image: url('./fullwebp.webp');
    background-position: center;
    background-size: cover;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0%;
}
.perfil{
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.perfil__container{
    padding: 0 1rem;
}
.tarjeta{

}
.tarjeta__header{

}
.tarjeta__header-img-container{

}
.tarjeta__header-img{

}
.tarjeta__body{

}

.tarjeta__body-title{

}
.tarjeta__body-kw{

}
.tarjeta__body-presentation{

}
.tarjeta__footer{

}
.tarjeta__footer-nav-list{

}
.tarjeta__footer-nav-item{

}
.tarjeta__footer-nav-link{

}
.tarjeta__footer-nav-img{

}
